
<mat-toolbar>
    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" (click)="opened=!opened">
      <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container class="example-container" *ngIf="columns$ | async as columns">
  <mat-drawer mode="side" [(opened)]="opened">
    
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <section class="example-section" class="valueSideNav" *ngFor="let column of columns">
        <div class="example-box" cdkDrag>
            <mat-checkbox
              class="example-margin"
              *ngIf="!column.static"
              [checked]="column.display"
              (change)="updateDisplay(column.ref)">
              {{ column.name }}
            </mat-checkbox>
          </div>
      </section>
    </div>

  </mat-drawer>
  <mat-drawer-content>
    <app-config-table></app-config-table>
  </mat-drawer-content>
</mat-drawer-container>
