<div class="table-shop">
  <table mat-table [dataSource]="dataShop" class="mat-elevation-z8">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Название товара </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Код товара </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>

    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef> Фото товара </th>
      <td mat-cell *matCellDef="let element"> {{element.photo}} </td>
    </ng-container>

    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef> Бренд товара </th>
      <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Цена товара </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="crossedPrice">
        <th mat-header-cell *matHeaderCellDef> Перечеркнутая цена </th>
        <td mat-cell *matCellDef="let element"> {{element.crossedPrice}} </td>
    </ng-container>

    <ng-container matColumnDef="datePublished">
        <th mat-header-cell *matHeaderCellDef> Дата публикации </th>
        <td mat-cell *matCellDef="let element"> {{element.datePublished | date}} </td>
    </ng-container>

    <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef> Активность товара </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.isActive;else outCheckBoy">
            <mat-icon>check_box</mat-icon>
          </div>
          <ng-template #outCheckBoy>
            <mat-icon>check_box_outline_blank</mat-icon>
          </ng-template>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns$ | async"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns$ | async;"
        (click)="selection.toggle(row)"
        [ngClass]="{colorSelectRow: selection.isSelected(row)}">
    </tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]"
  showFirstLastButtons 
  aria-label="Select page of periodic elements" class="table-pagination">
  </mat-paginator>
</div>
