/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.table-shop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container {
    margin: auto;
    padding: 50px 50px;
}

table {
    width: 60%;
}

.example-container {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.example-spacer {
    flex: 1 1 auto;
    margin-bottom: 10px;
}

.valueSideNav {
    padding: 10px 10px;
}

.colorSelectRow {
    background-color: bisque;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 10px; 
    padding-left: 0;
}